.infobox {
  width: 240px;
  padding: 0.5em;
  background-color: #eee;
  border: 1px solid #ddd;
  font-size: 1em;

  table {
    margin: auto;
    width: 100%;
    position: relative;
  }

  td.title {
    font-weight: bolder;
    text-align: center;
  }

  td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  td.label {
    font-weight: bolder;
  }

  tr.info {
    td:first-child {
      width: 33%;
    }
  }
}
