.song-infobox {
  @extend .infobox;

  td.cover {
    padding-bottom: 1em;
  }

  td.album-cover {
    text-align: center;
    span {
      a {
        img {
          margin: auto;
          width: 200px;
          height: 200px;
          position: relative;
          border: 1px solid #000;
        }
      }
    }
  }
}
